<div class="w-screen h-screen overflow-hidden flex flex-col" style="background: #edf2f7;">
  <div class="w-full h-full md:flex relative">
    <div class="relative overflow-hidden md:flex w-full bg-gradient-to-tr from-blue-800 to-purple-700 justify-around items-center hidden">
      <div class="text-white text-center">
        <h1 class="text-7xl font-bold">UberPix</h1>
        <div class="text-3xl mt-2">
          {{ currentPhrase }}
        </div>


        <div class="flex justify-center space-x-4">
          <button routerLink="/app/livreurs" class="text-center bg-white text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2 p-4 hover:bg-blue-200">Liste de livreurs</button>
          <button routerLink="/app/tournes" class="text-center bg-white text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2 p-4 hover:bg-blue-200">Liste de tournées</button>
          <button routerLink="/app/livraisons" class="text-center bg-white text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2 p-4 hover:bg-blue-200">Liste de livraisons</button>
        </div>
      </div>
      <div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
      <div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
      <div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
    </div>
  </div>
</div>
